@import "../../../styles/variaveis.scss";

.busca-mapa {
  background: url("../../../img/mapa-uniformes.png");
  height: 487px;
  background-size: cover;
  background-position: bottom center;
  text-align: center;
  color: #5c6f78;
  div.title {
    padding-top: 4em;
    font-weight: bold;
    font-size: 30px;
  }
  div.subtitle {
    font-size: 16px;
    padding-top: 1em;
  }
  form {
    text-align: left;
    label.multiselect {
      color: $corAzulPortal;
      font-size: 11.5px;
    }
    .dropdown-heading, .select-panel {
      font-size: 14px;
    }
    div.btn-consultar {
      margin-top: 30px;
      button {
        border-radius: 30px;
        background-color: $corVerdeBotaoHome;
        color: white;
        &:hover {
          background-color: $corVerdeEscuro;
        }
      }
    }
  }
}
