.opaco {
  opacity: 0.5;
}

.lojas {
  padding-top: 2em;
  @media (min-width: 992px) {
    min-height: 860px;
  }
  span {
    font-weight: bold;
  }
  .tabela-lojas {
    font-size: 14px;
    div.row {
      padding-top: 10px;
      padding-bottom: 10px;
      &.tabela-header {
        border-bottom: 1px solid black;
        font-weight: bold;
      }
    }
    .loja-collapse {
      border-bottom: 1px solid #dbdbdb;
      .clique-mensagem {
        font-size: 11px;
      }
      span.badge-fornecimento {
        padding: 3px 10px;
        font-weight: normal;
        font-size: 12px;
        background: #f5f6f8;
        border: 1px solid #d9d9d9;
        border-radius: 4px;
        &:nth-child(2) {
          margin-left: 10px;
        }
      }
    }
  }
}
